@font-face {
    font-family: "Arimo";
    src: url("./fonts/Arimo-Bold/Arimo-Bold.woff");
}
@font-face {
    font-family: "Change";
    src: url("./fonts/ChangaOne/ChangaOne-Regular.woff");
}
@font-face {
    font-family: "Comfortaa";
    src: url("./fonts/Comfortaa/Comfortaa-Regular.woff");
}


* {
    box-sizing: border-box;
}

p {
    font-family: "Arimo", serif;
}

.card > h3 {
    font-family: "Arimo", serif;
}

span > h2 {
    font-family: "Change", serif;
}

.featured > h3 {
    font-family: "Comfortaa", serif;
}

.hairstyle > h4 {
    font-family: "Comfortaa", serif;
}

img {
    transform: scaleX(-1);
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(223, 219, 219);
}

a {
    text-decoration: none; 
    color: inherit; 
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 .5rem;
}

.header {
    background-color: #4b9097;
    max-height: 108px;
}

div > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 20px;
    color: white;
}

ul > li{
    border: 5px solid rgb(27, 33, 48);
    border-radius: 5px;
    padding: 2px 5px;
    background-color:rgb(27, 33, 48);
}

.logo {
    margin-top: 20px;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    background: rgb(27,33,53);
    background: linear-gradient(180deg, rgba(27,33,53,1) 0%, rgba(18,23,44,1) 100%); 
}


/* ------------------------------------------------- */

span.container {
    background-color: white;
    margin-top: 50px;
    border: 1.5px solid #5FB3BD;
    border-radius: 5px;
    padding: 0px;
}

span > img {
    transform: scaleX(1);
    max-width: 40%;
}

span > h2 {
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(27, 33, 48);
}


.card-container {
    display: flex;
    gap: 30px;
    padding: 20px 0px;
    margin-bottom: 30px;
}

.card > img {
    display: block;
    border: 3px solid #5FB3BD;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card {
    position: relative;
}

.card:before {
    content: '';
    position: absolute;
    top: 160px;
    left: 0;
    width: 50%;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: right;
    transform: skewY(-8deg);
    z-index: -1;
    filter: blur(8px);
}

.card:after {
    content: '';
    position: absolute;
    top: 160px;
    right: 0;
    width: 50%;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transform: skewY(8deg);
    z-index: -1;
    filter: blur(8px);
}

.card > h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card > p {
    color: #666;
}






.container.end {
    display: flex;
}

.featured{
    border: 3px solid #5FB3BD;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
    background-color: #eee;
}

.featured > h3 {
    color: #eee;
    font-weight: bold;
    border: 5px solid rgb(27, 33, 48);
    background-color: rgb(27, 33, 48);
    max-width: 100px;
    padding: 5px 10px;
    margin-top: -13px;
    margin-bottom: 20px;
}

.featured > h4 {
    color: rgb(27, 33, 48);
    font-size: 1.3rem;
}

.text {
    clear: left;
}

.text > p {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.featured > img {
    border-radius: 5px;;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cases {
    margin-left: 20px;
}

.hairstyle {
    color:white;
    background-color: #4b9097;
    border: 3px solid #5FB3BD;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 20px;
}

.hairstyle > h4 {
    color: #eee;
    font-weight: bold;
    border: 5px solid rgb(27, 33, 48);
    background-color: rgb(27, 33, 48);
    max-width: 100px;
    padding: 5px 10px;
    margin-top: -13px;
    margin-bottom: 20px;
}

.losing {
    display: flex;
    align-items: center;
    color:white;
    background-color: #4b9097;
    border: 3px solid #5FB3BD;
    border-radius: 5px;
    padding: 0px;
    padding-top: 0px;
}

.losing > h4 {
    font-weight:700;
    font-size: 1.5rem;
}

.losing > img {
    height: auto;
    width: 30%;
    margin-top: -8px;
    transform: scaleX(1);
}